<div class="container text-start">
    
        <header>
            <h1 class="my-2">About Us</h1>
        </header>

        <section>
            <h2>Our Mission</h2>
            <p>
                Welcome to our website! Our mission is to provide a reliable shop that you can purchase your needs from.
            </p>
        </section>

        <section>
            <h2>Our Team</h2>
            <p>
                Meet the talented individuals behind QuikQuest.
            </p>
            <ul>
                <li>
                    <strong>Malek Rizk</strong> - Main Developper
                </li>
                <li>
                    <strong>Hasan Asaad</strong> - Website Manager
                </li>
                <li>
                    <strong>Ali Haidar</strong> - Delivery Manager
                </li>
                <li>
                    <strong>Ali Jradi</strong> - Products Manager
                </li>
                
            </ul>
        </section>

        <section>
            <h2>Contact Us</h2>
            <p>
                If you have any questions or feedback, feel free to reach out to us at QuikQuestBusiness@gmail.com or through our <a  asp-action="AddQuestion" asp-controller="Feedback">Form</a>.
            </p>
        </section>
    
</div>

