
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Your Shopping Journey is About to Level Up!</h1>
                        <p class="lead text-white-50 mb-4">Explore Trendsetting Collections, Seize Seamless Shopping, and Embark on a Journey of Quality and Innovation with Every Click.</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3 rounded" href="#features">Get Started</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-bag"></i></div>
                        <h2 class="h4 fw-bolder">Visit Our Shop!</h2>
                    <p>
                        Explore curated fashion, electronics, and home essentials. Elevate your journey with quality products, creating seamless experiences. Discover trends and innovations that redefine your shopping adventure at every click.
                    </p>
                        <a class="text-decoration-none" asp-action="Shop" asp-controller="Products">
                            Start your journey!
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle-fill"></i>
</div>
                        <h2 class="h4 fw-bolder">What is QuikQuest?</h2>
                    <p>
                        Embracing quality and innovation, we form a community. Explore our defining journey and values. Welcome to an exceptional experience, where uniqueness shapes our collective identity.
                    </p>
                        <a class="text-decoration-none" asp-action="About" asp-controller="Home">
                            Learn More About Us!
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                        <i class="bi bi-receipt"></i>
                    </div>
                        <h2 class="h4 fw-bolder">Check your purchase history!</h2>
                        <p>Explore your past purchases effortlessly. Utilize our receipt history for detailed transaction records, keeping you organized with a comprehensive overview of your buying journey.</p>
                        <a class="text-decoration-none" href="#!">
                            Check it out!
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5 border-bottom">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <h2 class="fw-bolder">Customer testimonials</h2>
                    <p class="lead mb-0">Our customers love working with us</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <!-- Testimonial 1-->
                        <div class="card mb-4">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">Thank you for putting together such a great product. We loved working with you and the whole team, and we will be recommending you to others!</p>
                                        <div class="small text-muted">- Jawad Hamad, America</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Testimonial 2-->
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                    <div class="ms-4">
                                        <p class="mb-1">The delivery process was smooth and the products arrived on time. and no delivery charges is always a treat!</p>
                                        <div class="small text-muted">- Ali Rizk, Beirut</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
